.context-lens-popup {
  background: #222;
  color: white;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  min-height: 39px;
  max-height: 72px;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 10000;
  position: absolute;
}

.context-lens-popup.loading {
  background: linear-gradient(90deg, #333 25%, #555 50%, #333 75%);
  background-size: 200% 100%;
  animation: shimmer-lr 1.5s infinite;
  overflow-y: hidden;
}

.context-lens-popup.complete {
  background: linear-gradient(180deg, #333 25%, #555 50%, #333 75%);
  background-size: 100% 200%;
  animation: shimmer-tb 1.5s;
  overflow-y: auto;
}

@keyframes shimmer-lr {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes shimmer-tb {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% -100%;
  }
}
